.completed {
    color: green;
    font-weight: bold;
}

button {
    margin-left: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 25px;
}

input {
    padding: 6px;
}
button {
    padding: 6px 10px;
}
